{% extends 'annieapp/base.html' %}
{% block contents %}
<br>
<br>
<div class="block-articles">
	<div class="block-body">
		<div class="article-item-2">
			<img src="https://cdn.fistore.vn/media/pages/chinh-sach-bao-mat-thong-tin-khach-hang.png" alt="CHÍNH SÁCH BẢO MẬT THÔNG TIN KHÁCH HÀNG" class="item-thumbnail">
			<div class="item-info">
				<a href="https://fistore.vn/chinh-sach-bao-mat-thong-tin-khach-hang" class="item-title">CHÍNH SÁCH BẢO MẬT THÔNG TIN KHÁCH HÀNG</a>
				<time class="item-time">Ngày 09/08/2018 02:04</time>
				<div class="item-description">1. Mục đích thu thập thông tin khách hàng

					-   Công ty TNHH DM&amp;C thực hiện thu thập thông tin khách hàng qua các kênh bán hàng bao gồm cả khách mua...</div>
				<a href="https://fistore.vn/chinh-sach-bao-mat-thong-tin-khach-hang" class="item-action"><i class="fa fa-long-arrow-right"></i> Xem chi tiết</a>
			</div>
		</div>
		<div class="article-item-2">
			<img src="https://cdn.fistore.vn/media/pages/chinh-sach-doi-tra-va-hoan-tien.jpg" alt="CHÍNH SÁCH ĐỔI TRẢ VÀ HOÀN TIỀN" class="item-thumbnail">
			<div class="item-info">
				<a href="https://fistore.vn/chinh-sach-doi-tra-va-hoan-tien" class="item-title">CHÍNH SÁCH ĐỔI TRẢ VÀ HOÀN TIỀN</a>
				<time class="item-time">Ngày 09/08/2018 02:03</time>
				<div class="item-description">Để đảm bảo quyền lợi tốt nhất cho khách hàng, FI :STORE khuyến khích quý khách kiểm tra hàng hoá (nhưng không sử dụng thử sản phẩ...</div>
				<a href="https://fistore.vn/chinh-sach-doi-tra-va-hoan-tien" class="item-action"><i class="fa fa-long-arrow-right"></i> Xem chi tiết</a>
			</div>
		</div>
		<div class="article-item-2">
			<img src="https://cdn.fistore.vn/media/pages/chinh-sach-van-chuyen-giao-nhan.jpg" alt="CHÍNH SÁCH VẬN CHUYỂN GIAO NHẬN" class="item-thumbnail">
			<div class="item-info">
				<a href="https://fistore.vn/chinh-sach-van-chuyen-giao-nhan" class="item-title">CHÍNH SÁCH VẬN CHUYỂN GIAO NHẬN</a>
				<time class="item-time">Ngày 09/08/2018 02:01</time>
				<div class="item-description">Sau khi quý khách đặt hàng thành công, FI :STORE sẽ liên hệ lại với quý khách để xác nhận đơn hàng và thông báo phí vận chuyển đến quý khách.

					1. Th...</div>
				<a href="https://fistore.vn/chinh-sach-van-chuyen-giao-nhan" class="item-action"><i class="fa fa-long-arrow-right"></i> Xem chi tiết</a>
			</div>
		</div>
		<div class="article-item-2">
			<img src="https://cdn.fistore.vn/media/pages/qui-dinh-va-hinh-thuc-thanh-toan.jpg" alt="QUI ĐỊNH VÀ HÌNH THỨC THANH TOÁN" class="item-thumbnail">
			<div class="item-info">
				<a href="https://fistore.vn/qui-dinh-va-hinh-thuc-thanh-toan" class="item-title">QUI ĐỊNH VÀ HÌNH THỨC THANH TOÁN</a>
				<time class="item-time">Ngày 09/08/2018 02:00</time>
				<div class="item-description">1. Thanh toán khi nhận hàng (COD):

					Trong quá trình đặt hàng, hãy chọn Giao hàng nhận tiền trong mục Hình thức giao hàng.

					Chúng tôi chấp nhận hìn...</div>
				<a href="https://fistore.vn/qui-dinh-va-hinh-thuc-thanh-toan" class="item-action"><i class="fa fa-long-arrow-right"></i> Xem chi tiết</a>
			</div>
		</div>
		<div class="article-item-2">
			<img src="https://cdn.fistore.vn/media/pages/hoi-dap.jpg" alt="HỎI - ĐÁP" class="item-thumbnail">
			<div class="item-info">
				<a href="https://fistore.vn/hoi-dap" class="item-title">HỎI - ĐÁP</a>
				<time class="item-time">Ngày 01/08/2018 04:01</time>
				<div class="item-description">--- Đang cập nhật ---</div>
				<a href="https://fistore.vn/hoi-dap" class="item-action"><i class="fa fa-long-arrow-right"></i> Xem chi tiết</a>
			</div>
		</div>
	</div>

	<div class="block-footer">
		<ul class="pagination">


		</ul>
	</div>
</div>
{% endblock %}