{% extends 'annieapp/mobile_base.html'%}
{% load static %}
{% block contents %}

<table class="table">
  <tbody>
    {% for order in orders%}
    <tr>
      <td class="d-inline-block col-8">
        <div><a href="/mobile/orders/{{ order.id }}">{{ order.order_code }}</a></div>
        <div class="mobile-order-info">
          <p>{{ order.name }}</p>
          {% if order.confirm %}
          <p class="mobile-order-success">#Xác nhận</p>
          {%else%}
          <p class="mobile-order-warning">#Chưa xác nhận</p>
          {% endif %}
        </div>

      </td>
      <td class="d-inline-block col-4">
        <p {% if order.paid %} class="text-right mobile-order-success" {% else %} class="text-right mobile-order-warning" {%endif%}> {{ order.total_cost}} </p>
      </td>
    </tr>
    <tr></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}